{% extends 'layout.html' %}

{% from 'macros.html' import render_field %}

{% block content %}
<div class="edit-entry">
    <h2>Edit Entry</h2>
    <form method='POST' action='' class='form'>
        {{ form.hidden_tag() }}
        {% for field in form %}
            {{ render_field(field) }}
        {% endfor %}
        <label for="title"> Title</label>
        <input id="title" type="text" name="title" placeholder="{{ entry.title }}"><br>
        <label for="date">Date</label>
        <input id="date" type="date" name="date"><br>
        <label for="time_spent"> Time Spent</label>
        <input id="time_spent" type="text" name="time_spent" placeholder="{{ entry.time_spent }}"><br>
        <label for="what_you_learned">What You Learned</label>
        <textarea id="what_you_learned" rows="3" name="what_you_learned" placeholder="{{ entry.what_you_learned }}"></textarea><br>
        <label for="resources_to_remember">Resources to Remember</label>
        <textarea id="resources_to_remember" rows="3" name="resources_to_remember" placeholder="{{ entry.resources_to_remember }}"></textarea><br>
        <label for="tags">Tags</label>
        <input id="tags" type="text" name="tags" placeholder="{{ entry.tags }}"><br><br>
        <input type="submit" value="Submit Edits" class="button"><br><br>
        <a href="{{ url_for('delete', id=entry.entry_id) }}" class="button button-secondary">Delete</a><br><br>
        <a href="{{ url_for('index') }}" class="button button-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
