{% extends 'layout.html' %}

{% from 'macros.html' import render_field %}

{% block content %}
<div class="new-entry">
    <h2>New Journal Entry</h2>
    <form method='POST' action='' class='form'>
        {{ form.hidden_tag() }}
        {% for field in form %}
            {{ render_field(field) }}
        {% endfor %}
        <label for="title"> Title</label>
        <input id="title" type="text" name="title"><br>
        <label for="date">Date</label>
        <input id="date" type="date" name="date"><br>
        <label for="time_spent"> Time Spent</label>
        <input id="time_spent" type="text" name="time_spent"><br>
        <label for="what_you_learned">What You Learned</label>
        <textarea id="what_you_learned" rows="3" name="what_you_learned"></textarea><br>
        <label for="resources_to_remember">Resources to Remember</label>
        <textarea id="resources_to_remember" rows="3" name="resources_to_remember"></textarea><br>
        <label for="tags">Tags</label>
        <input id="tags" type="text" name="tags"><br><br>
        <input type="submit" value="Create" class="button"><br><br>
        <a href="{{ url_for('index') }}" class="button button-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
